<ion-list no-margin no-lines>
  <ng-template ngFor let-option [ngForOf]="collapsableItems" let-i="index">

      <!-- It is a simple option -->
      <ng-template [ngIf]="!option.suboptionsCount">
          <ion-item class="option"
              [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null"
              (tap)="select(option)" tappable>
              <ion-icon *ngIf="option.iconName" [name]="option.iconName" item-left></ion-icon>
              {{ option.displayText }}
              <ion-badge item-right *ngIf="option.badge | async as badgeNo">{{ badgeNo }}</ion-badge>
          </ion-item>
      </ng-template>

      <!-- It has nested options -->
      <ng-template [ngIf]="option.suboptionsCount">

          <ion-list no-margin class="accordion-menu">

              <!-- Header -->
              <!-- <ion-item class="header" [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null"
                  (tap)="toggleItemOptions(option)" tappable>
                  <ion-icon [class.rotate]="option.expanded" class="header-icon" [name]="option.iconName || menuSettings.arrowIcon"
                      item-left></ion-icon>
                  {{ option.displayText }}
              </ion-item> -->

              <ion-item class="header"
                  [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null"
                  (tap)="toggleItemOptions(option)" tappable>
                  <ion-icon *ngIf="option.iconName" [name]="option.iconName" item-left></ion-icon>
                  {{ option.displayText }}

                  <ion-icon [class.rotate]="option.expanded" class="header-icon"
                      [name]="option.iconName123 || menuSettings.arrowIcon" item-right></ion-icon>
              </ion-item>

              <!-- Sub items -->
              <div [style.height]="option.expanded ? ((optionHeight + 1) * option.suboptionsCount) + 'px' : '0px'" class="options">
                  <ng-template ngFor let-item [ngForOf]="option.subOptions">
                      <ion-item class="sub-option" [style.padding-left]="subOptionIndentation + 'px'" [class.no-icon]="menuSettings?.indentSubOptionsWithoutIcons && !item.iconName"
                          [ngClass]="menuSettings?.showSelectedOption && item.selected ? menuSettings.selectedOptionClass : null"
                          tappable (tap)="select(item)">
                          <ion-icon *ngIf="item.iconName" [name]="item.iconName" item-left></ion-icon>
                          {{ item.displayText }}
                          <ion-badge item-right *ngIf="item.badge | async as badgeNo">{{ badgeNo }}</ion-badge>
                      </ion-item>
                  </ng-template>
              </div>
          </ion-list>

      </ng-template>

  </ng-template>
</ion-list>
